
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    
</head>
<body>
    <img src="images/logo.png" alt="logo" />

    <h1>Welcome to book store app</h1>
</body>
</html>
